.app-footer {
    padding: 0 .8rem;
    
    

    h4 {
        margin-bottom:.2rem;
        font-size: 1.2rem;
        font-weight: 600
    }
    .social-media-platforms {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > * {
            margin-bottom:.4rem; /* Add some vertical spacing */
            margin-right:0; /* Remove horizontal spacing */
        }

    }

}
.mobile-app-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > div.footer-container:not(:last-child) {
        margin-bottom: 1rem;
    }
}