.app-footer {
    padding: 0 .8rem;
    
    

    h4 {
        margin-bottom:.2rem;
        font-size: 1.2rem;
        font-weight: 600
    }
    .social-media-platforms {
        display: flex;
        flex-direction: row; /* Changed to row for desktop */
        align-items: center;
        gap: 1rem; /* Add some spacing between icons */
        & > * {
            margin-bottom:0; /* Remove vertical spacing */
            margin-right:0; /* Remove horizontal spacing */
        }

    }

}