@import './animation.css';
@import './auth.css';
@import './base.css';
@import './cart.css';
@import './checkout.css';
@import './checkoutsummary.css';
@import './categories.css';
@import './displaycard.css';
@import './header.css';
@import './landing.css';
@import './otpview.css';
@import './paymentmethod.css';
@import './product.css';
@import './productListing.css';
@import './profile.css';
@import './search.css';
@import './sectionComponentHeading.css';
@import './sidebar.css';
@import './typography.css';
@import './userHistory.css';
@import './utils.css';

/* EXTERNAL */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  position: relative;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.mobile-view-menus {
  position: fixed;
  bottom: 4%;
  width: 100vw;
  color: var(--vt-c-support);
  font-weight: 700;
  font-size: var(--font-xxxsmall);
   & ul {
    display: flex;
    flex-direction: row;
     & li {
       display: inline-block;
       padding: 0 1rem;
       cursor: pointer;
       list-style: none;
        & a {
          color: var(--vt-c-support);
          text-decoration: none;
          transition: 0.4s;
        }
     }
   }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
