.payment-method {
    & > .fieldset-mobile {
        text-align: center;
        margin: 4% 0;

       & > .express-checkout-mobile {
         display: flex;
         align-items: center;
         flex-direction: column;
         padding-inline: 1.6rem;

         & > div {
             width: 100%;
             margin-bottom: 2rem;
         }
        }
    }
    .division-line {
        & > .division-line-card {
            width: 100%;
            height: 1px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            & span.openning-line {
                width: 30%;
                display: block;
                border: .1rem solid var(--color-border);
                height: .1rem;
                margin-right: .4rem;
            }
            & span.closing-line {
                width: 30%;
                display: block;
                border: .1rem solid var(--color-border);
                height: .1rem;
                margin-left: .4rem;
            }
        }
    }

    .accepted-card-logos {
        margin-top: -1.4rem;
        display: flex;
        justify-content: flex-end;
        & > div {
            width: 12%;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            & img {
                width: 2rem;
                margin-right:.4rem;
            }
        }

    }
}