.complete-profile {
    height: 100vh;
    & > .complete-profile-card  {
        height: 100%;
        & > .v-card {
            height: 100%;
            flex-grow: 1;
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: var(--vt-c-primary-light-2);
            border-radius: 5px;
        }
        & h1 {
            font-size: 2rem;
        }
    }
}