.search-page-wrapper{
    width: 100%;
    padding:.8rem .4rem;

    & .search-input-wrapper{
        width: 100%;
        margin-bottom:.4rem;
        padding:.2rem;
        display:flex;
        align-items:center;
        border: .1rem var(--color-border) solid;
        border-radius:1.2rem;
        & > * {
            display: block;
        }
        & > input[type="search"] {
            width: 100%;
            padding:.4rem;
            outline: none;
            background-color: var(--vt-c-white);
            color: var(--vt-c-black);
        }
    }
}

.onsearch-page {
    min-height: 100vh;
}